body {
    font-family: sans-serif;
    background: #111;
    color: white;
    padding: 2em;
}

form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background: #0d6efd;
    color: white;
    cursor: pointer;
}
